cache2k-xml-configuration/src/main/resources/cache2k.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.0" vc:maxVersion="1.1"> 


    <!-- simple types-->
    
    <xs:simpleType name="classNameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-z]+[.]{1}([a-z]+.)*[A-Z]{1}[a-zA-Z]+)|[a-zA-Z]+"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="longType">
        <xs:restriction base="xs:token">
            <xs:pattern value="(-?[0-9]+)|(-?[0-9]+[_]?[0-9]+)|(-?[0-9]+(KiB|MiB|GiB|TiB|k|M|G|T|s|m|h|d)?)|([-]?[0-9]+[_]?[0-9]+(KiB|MiB|GiB|TiB|k|M|G|T|s|m|h|d)?)"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="envType">
        <xs:restriction base="xs:token">
            <xs:pattern value="${1}\{{1}([a-zA-Z0-9]+.{1}[a-zA-Z0-9]+)+\}{1}"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="envOrLongType">
        <xs:union memberTypes="longType envType"></xs:union>
    </xs:simpleType>
    
    <xs:simpleType name="nameType">
        <xs:restriction base="xs:Name">
            <xs:pattern value="[-_.a-zA-Z0-9]+"></xs:pattern>
        </xs:restriction>
    </xs:simpleType> 
    
     
    <!-- complexe types-->
    <xs:complexType name="anytype">
        <xs:sequence>
            <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="customizationSupplier">
        <xs:choice>
            <xs:element maxOccurs="1"  minOccurs="1" ref="byClassName"/>
            <xs:element maxOccurs="1"  minOccurs="1" ref="bean"/>
        </xs:choice>       
    </xs:complexType>
    
    <xs:complexType name="cacheType">
        <xs:sequence>
            <xs:element name="type" type="classNameType" maxOccurs="1" minOccurs="1"/>         
        </xs:sequence>
    </xs:complexType>
    
    
    <xs:complexType name="listenerType">
        <xs:sequence>
            <xs:element name="type" type="classNameType" maxOccurs="1" minOccurs="1"/>
            <xs:element name="className" type="classNameType" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="customizationCollection">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="listener" type="listenerType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="sectionType">
        <xs:sequence>
            <xs:element name="type" type="classNameType" maxOccurs="1" minOccurs="0" default="org.cache2k.jcache.JCacheConfiguration"/>
            <xs:element name="copyAlwaysIfRequested" type="xs:boolean" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="cachesType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded"  minOccurs="1" ref="cache"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- elements -->
    
    <xs:element name="cache2k">      
        <xs:complexType>
            <xs:sequence>
                <!-- ask if version is mandatory in the xml configuration file, use pattern instead of string ? -->
                <xs:element maxOccurs="1"  minOccurs="1" ref="version"/>
                <xs:element name ="defaultManagerName" type="xs:string" maxOccurs="1"  minOccurs="0" default="default"/>
                <xs:element maxOccurs="1"  minOccurs="0" ref="cacheManager"/>
                <xs:element name="ignoreAnonymousCache" type="xs:boolean" maxOccurs="1"  minOccurs="0" default="false"/>
                <xs:element name="skipCheckOnStartup" type="xs:boolean" maxOccurs="1"  minOccurs="0" default="false"/>
                <xs:element  maxOccurs="1"  minOccurs="0" ref="properties"/>
                <!-- see if defaults element can also contain one or more cache element-->
                <xs:element  maxOccurs="1"  minOccurs="0" ref="defaults"/>
                <xs:element  maxOccurs="1"  minOccurs="0" name="templates" type="cachesType">
                    <xs:unique name="templates_cache_name">
                        <xs:selector xpath=".//cache"></xs:selector>
                        <xs:field xpath="name"></xs:field>
                    </xs:unique>
                </xs:element>
                <xs:element  maxOccurs="1"  minOccurs="1" name="caches" type="cachesType">
                    <xs:unique name="caches_cache_name">
                        <xs:selector xpath=".//cache"></xs:selector>
                        <xs:field xpath="name"></xs:field>
                    </xs:unique>
                </xs:element>
            </xs:sequence>
            
        </xs:complexType>
    </xs:element>
    
    <xs:element name="cacheManager">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="managerName" type="nameType" maxOccurs="1"  minOccurs="1"/>
                <xs:element name="classLoader" type="classNameType" maxOccurs="1"  minOccurs="1"/>
                <xs:element name="isDefaultManager" type="xs:boolean" maxOccurs="1"  minOccurs="0" default="true"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="defaults">
        <xs:complexType>
            <xs:complexContent>
                <xs:restriction base="cachesType">
                    <xs:sequence>
                        <xs:element maxOccurs="1"  minOccurs="1" ref="cache" />                     
                    </xs:sequence>                   
                </xs:restriction>                   
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="version" default="1.0">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[1-9]+.[0-9]{1}"></xs:pattern>
            </xs:restriction>      
        </xs:simpleType>
    </xs:element>
    
    <xs:element name="properties">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="anytype" maxOccurs="1" minOccurs="1" />
            </xs:sequence>          
        </xs:complexType>
    </xs:element>
    
    <xs:element name="cache">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="nameType" minOccurs="0" maxOccurs="1" default="defaultName"/>
                <xs:element name="entryCapacity" type="envOrLongType" minOccurs="0" maxOccurs="1" default="2000"/>
                <xs:element name="expireAfterWrite" type="envOrLongType" minOccurs="0" maxOccurs="1" default="-1"/>
                <xs:element name="resilienceDuration" type="envOrLongType" minOccurs="0" maxOccurs="1" default="-1"/>
                <xs:element name="keyType" type="cacheType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="valueType" type="cacheType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="storeByReference" type="xs:boolean" maxOccurs="1"  minOccurs="0"/>
                <xs:element name="strictEviction" type="xs:boolean" maxOccurs="1"  minOccurs="0" default="false"/>
                <xs:element name="refreshAhead" type="xs:boolean" maxOccurs="1"  minOccurs="0" default="false"/>
                <xs:element name="retryInterval" type="envOrLongType" maxOccurs="1"  minOccurs="0" default="-1"/>
                <xs:element name="maxRetryInterval" type="envOrLongType" maxOccurs="1"  minOccurs="0" default="-1"/>
                <xs:element name="keepDataAfterExpired" type="xs:boolean" maxOccurs="1"  minOccurs="0" default="false"/>
                <xs:element name="sharpExpiry" type="xs:boolean" maxOccurs="1"  minOccurs="0" default="false"/>
                <xs:element name="suppressExceptions" type="xs:boolean" maxOccurs="1"  minOccurs="0" default="true"/>
                <xs:element name="loaderThreadCount" type="xs:int" maxOccurs="1"  minOccurs="0"/>
                <xs:element name="permitNullValues" type="xs:boolean" maxOccurs="1"  minOccurs="0" default="false"/>
                <xs:element name="disableStatistics" type="xs:boolean" maxOccurs="1"  minOccurs="0" default="false"/>
                <xs:element name="disableLastModificationTime" type="xs:boolean" maxOccurs="1"  minOccurs="0" default="false"/>
                <xs:element name="boostConcurrency" type="xs:boolean" maxOccurs="1"  minOccurs="0" default="false"/>
                <xs:element name="eternal" type="xs:boolean" maxOccurs="1"  minOccurs="0"/>
                <xs:element name="externalConfigurationPresent" type="xs:boolean" maxOccurs="1"  minOccurs="0"/>
                
                <xs:element minOccurs="0" maxOccurs="1" name="loader" type="customizationSupplier"/>
                <xs:element minOccurs="0" maxOccurs="1" name="advancedLoader" type="customizationSupplier"/>
                <xs:element minOccurs="0" maxOccurs="1" name="writer" type="customizationSupplier"/>
                <xs:element maxOccurs="1" minOccurs="0" name="expiryPolicy" type="customizationSupplier"/>
                <xs:element maxOccurs="1" minOccurs="0" name="resiliencePolicy" type="customizationSupplier"/>
                <xs:element minOccurs="0" maxOccurs="1" name="exceptionPropagator" type="customizationSupplier"/>
                <xs:element minOccurs="0" maxOccurs="1" name="loaderExecutor" type="customizationSupplier"/>
                <xs:element minOccurs="0" maxOccurs="1" name="prefetchExecutor" type="customizationSupplier"/>
                <xs:element minOccurs="0" maxOccurs="1" name="asyncListenerExecutor" type="customizationSupplier"/>
                <xs:element minOccurs="0" maxOccurs="1" name="clock" type="customizationSupplier"/>
                
                <xs:element minOccurs="0" maxOccurs="1" name="listeners" type="customizationCollection"/>
                <xs:element minOccurs="0" maxOccurs="1" name="asyncListeners" type="customizationCollection"/>
                <xs:element minOccurs="0" maxOccurs="1" name="closedListeners" type="customizationCollection"/>
                
                <xs:element minOccurs="0" maxOccurs="1" ref="sections"/>
                
                <xs:element  maxOccurs="1"  minOccurs="0" ref="include"/>
            </xs:sequence>  
            
        </xs:complexType>
    </xs:element>
    
    <xs:element name="include">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:pattern value="[-_.a-zA-Z0-9]+|([-_.a-zA-Z0-9]+,{1}[-_.a-zA-Z0-9]+)+"></xs:pattern>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
     
    <xs:element name="byClassName">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="className" type="classNameType" maxOccurs="1" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
    <xs:element name="bean">
        <xs:complexType>  
            <xs:sequence>
                <xs:element name="type" type="classNameType" maxOccurs="1" minOccurs="1"/>
                <xs:element name="className" type="classNameType" maxOccurs="1" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
      
    <xs:element name="jcache">
        <xs:complexType>
            <xs:all>
                <xs:element name="alwaysFlushJmxStatistics" type="xs:boolean" maxOccurs="1"  minOccurs="0" default="false"/>
                <xs:element name="copyAlwaysIfRequested" type="xs:boolean" maxOccurs="1"  minOccurs="0" default="true"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="sections">
        <xs:complexType>
            <xs:choice>
                <!-- see how often section element can occur inside sections element-->
                <xs:element maxOccurs="unbounded" minOccurs="1" name="section" type="sectionType"/>
                <xs:element maxOccurs="1" minOccurs="1" ref="jcache"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    
    
    
    
    
    
    
    

    
   
    
</xs:schema>

